



.button_num{
    
    -fx-background-color: #5945da;
}


.button_op{
    
    -fx-background-color: #5945da;
}



.text_op{
    
    -fx-background-color: #5945da;
}
.text-num{
    
    -fx-background-color: white;
}


.root{
    -fx-background-color: gray;
    
}
